:root {
    
    --b3-theme-primary: #25A56A;/* 主色 */
    --b3-theme-primary-light: rgba(66, 186, 130, 0.54); /* 半透明色，用于输入框边框阴影等 */
    --b3-theme-primary-lighter: rgba(66, 186, 130, 0.38);
    --b3-theme-primary-lightest: rgba(66, 186, 130, 0.12);
    --b3-theme-secondary: #f3a92f;
    --b3-theme-background: #FFFFFF; /* 编辑区背景 */
    --b3-theme-surface: #FAFAFA; /* 弹出面板 */
    --b3-theme-error: #d23f31;

    /* 文字颜色 */
    --b3-theme-on-primary: #FFFFFF;
    --b3-theme-on-secondary: #FFFFFF;
    --b3-theme-on-background: #473F3C;
    --b3-theme-on-surface: #5f6368;
    --b3-theme-on-error: #FFFFFF;

    /* 字体 */
    --b3-font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", "Hiragino Sans GB", "Microsoft Yahei", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";
    --b3-font-family-code: mononoki, Consolas, "Liberation Mono", Menlo, Courier, monospace, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";

    /* 线条 */
    --b3-border-color: rgba(0, 0, 0, .05);

    /* 滚动条 */
    --b3-scroll-color: rgba(0, 0, 0, .1);

    /* 列表 */
    --b3-list-hover: rgba(0, 0, 0, .06);

    /* 页签 */
    --b3-tab-background: #FFFFFF;
    --b3-tab-background-hover: #F5F5F5;

    /* 提示 */
    --b3-tooltips-color: rgba(0, 0, 0, 0.54);

    /* 卡片背景 */
    --b3-card-error-color: rgb(97, 26, 21);
    --b3-card-error-background: rgb(253, 236, 234);
    --b3-card-warning-color: rgb(102, 60, 0);
    --b3-card-warning-background: rgb(255, 244, 229);
    --b3-card-info-color: rgb(13, 60, 97);
    --b3-card-info-background: rgb(232, 244, 253);
    --b3-card-success-color: rgb(30, 70, 32);
    --b3-card-success-background: rgb(237, 247, 237);

    /* 动画效果 */
    --b3-transition: all .15s cubic-bezier(0, 0, .2, 1) 0ms;

    /* 阴影 */
    --b3-point-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    --b3-dialog-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);

    /* diff */
    --b3-diff-add: #dfd;
    --b3-diff-add-surface: #97f295;
    --b3-diff-del: #fee8e9;
    --b3-diff-del-surface: #ffb6ba;

    /* 图表颜色 */
    --b3-graph-p-point: #076f7e;
    --b3-graph-heading-point: #660e7a;
    --b3-graph-math-point: #80FFA5;
    --b3-graph-code-point: #00DDFF;
    --b3-graph-table-point: #37A2FF;
    --b3-graph-list-point: #FF0087;
    --b3-graph-todo-point: #FFBF00;
    --b3-graph-olist-point: #b3005f;
    --b3-graph-listitem-point: #f65b00;
    --b3-graph-bq-point: #8d48e3;
    --b3-graph-super-point: #dd79ff;
    --b3-graph-doc-point: #202124;
    --b3-graph-tag-point: #dbf32f;
    --b3-graph-asset-point: #05c091;
    --b3-graph-line: #5f6368;
    --b3-graph-ref-line: #d23f31;
    --b3-graph-tag-line: #5f6b06;
    --b3-graph-tag-tag-line: #dbf32f;
    --b3-graph-asset-line: #037457;
    --b3-graph-hl-point: #f3a92f;
    --b3-graph-hl-line: #4285f4;



    /* 编辑器工具栏高度 */
    --b3-vditor-toolbar-height: 29px;
    --b3-vditor-toolbar-height-space: 6px;

    /* 编辑器搜索颜色 */
    --b3-vditor-search-background: #ffe955;
    --b3-vditor-search-border-color: #f2e680;
    --b3-vditor-search-current-background: #40C14A; /** 当前匹配的搜索结果 */

    /* 代码片段背景 */
    --b3-vditor-code-background: #E7F3ED;

    /* 即时渲染标记符颜色 */
    --b3-vditor-mark-heading-color: #945932;
    --b3-vditor-mark-title-color: #808080;
    --b3-vditor-mark-em-color: #329493;
    --b3-vditor-mark-strong-color: #945932;
    --b3-vditor-mark-backslash-color: #945932;
    --b3-vditor-mark-s-color: #5f6368;
    --b3-vditor-mark-mark-color: #5f6368;
    --b3-vditor-mark-link-color: #008000;
    --b3-vditor-mark-bracket-color: #945932;
    --b3-vditor-mark-paren-color: #008000;
    --b3-vditor-mark-block-color: #945932;
    --b3-vditor-mark-tag-color: #945932;

    /* 即时渲染行内元素颜色 */
    --b3-vditor-inline-strong-color: var(--b3-theme-primary); /* 加粗颜色 */
    --b3-vditor-inline-em-color: #202124;
    --b3-vditor-inline-s-color: #202124;
    --b3-vditor-inline-link-color: #4285f4;
    --b3-vditor-inline-mark-background: #FEF6AE;/* 搜索结果高亮背景色 */
    --b3-vditor-inline-mark-color: #473F3C; /* 搜索结果高亮字体色 */
    --b3-vditor-inline-tag-color: #5f6368;
    --b3-vditor-inline-blockref-color: #106BA3;



}

/* 编辑器标题段落 */
.vditor-reset h1{
    margin-top: 1em;
    margin-bottom: 0.5em;
}
.vditor-reset h2{
    margin-top: 1em;
    margin-bottom: 0.5em;
}
.vditor-reset h3{
    margin-top: 1em;
}
.vditor-reset h4{
    margin-top: 0.5em;
}
.vditor-reset h5{
    margin-top: 0.5em;
}
.vditor-reset h6{
    margin-top: 0.5em;
}
.vditor-reset p{
    line-height: 170%;
}
.vditor-reset ul p, .vditor-reset ol p{
    margin: 0;
    padding-top: 0;
}

/* ########### 页面布局 ################################## */

/* 顶栏 */
.toolbar{
     background-color: var(--b3-theme-background);
     box-shadow: 0px 2px 5px rgba(236,229,229,0.5);
     border-bottom: 1px solid rgba(236,229,229,0.5);
}

/* dock */
.dock{
    background-color: var(--b3-theme-surface);
}
/* 左侧dock */
#dockLeft{
    align-items: center; 
}
/* 右侧dock */
#dockRight{
    /* background-color: var(--b3-theme-surface); */
}

/* 面板column */
.fn__flex-column{
    background-color: var(--b3-theme-surface);
}

/* dock 面板标题栏 */
.block__icons{
    background-color: var(--b3-theme-surface);
}

/* dock 面板标题栏选中激活 */
.block__icons--active{
    background-color: var(--b3-theme-surface);
}

/* 面板列表项 选中状态*/
.b3-list--background .b3-list-item--focus {
    color: var(--b3-theme-primary);    
    background-color: var(--b3-theme-surface) !important;
}
.b3-list-item--focus .b3-list-item__text{
    color: var(--b3-theme-primary);
}

/* dock列表项 hover状态 */
.b3-list-item:hover{
    background-color: var(--b3-theme-surface) !important;
    color: var(--b3-theme-primary) !important;
}
.b3-list-item:hover .b3-list-item__text{
    background-color: var(--b3-theme-surface) !important;
    color: var(--b3-theme-primary) !important;
}



/* 页签标题栏 */
.layout-tab-bar{
    border-bottom: 1px solid var(--b3-border-color);
    background-color: var(--b3-theme-background);
}
.layout-tab-bar:empty{
    border-bottom: none;
}
/* 页签标题栏 选中状态 */
.layout-tab-bar .item--focus {
    background-color: var(--b3-theme-background);
}
/* 页签标题栏 未编辑状态 */
.layout-tab-bar .item--unupdate {
    font-style: italic;
    color: var(--b3-theme-on-surface);
}
/* 页签标题栏 标题文字 */
.layout-tab-bar .item__text{
    padding: 0 2px; /* 适当增加标题文本左右间隙 */
}


/* 反向链接面板 */
.backlinkList,.backlinkMList{
    background-color: var(--b3-theme-surface);
} 
.backlinkList mark{
    color: var(--b3-theme-primary);
    background-color: var(--b3-theme-surface);
}
/* ########### 通用设置 & 部件 ################################## */


/* 通用文本输入框背景和字体色 */
.b3-text-filed,.b3-select{
   
}
/* 通用文本输入框文本选中状态 */
.b3-text-filed::selection{
    background-color: var(--b3-theme-primary);
    color: white;
}
/* 对话框 */
.b3-dialog__container{
   #overflow: hidden; /* 开启可去除对话框关闭按钮 */
}
.b3-dialog__container .fn__flex-column{
    border-radius: 8px;
    overflow: hidden;
}
/** 列表样式 仿大纲笔记软件，多层嵌套时外层添加左边线 **/
.vditor-ir ul ol, .vditor-ir ul ul {
    margin-left: -0.96em !important;
    padding-left: 2.8em !important;
    margin-bottom: 12px;
    border-left: 1px solid var(--b3-border-color);
}


/* switch开关控件 */
.b3-switch:checked{
    background-color: var(--b3-border-color);
}

/* 左侧边栏搜索 如果想设置左右侧面板不同样式可以设置.fn__flex-shrink */
.fn__flex-shrink .search__label input{
    /* background-color: var(--b3-theme-surface); */
}
/* 通用浮窗搜索 */
.search__label input{
    background-color: var(--b3-theme-surface);
}
/* 调整ember块分隔线颜色 */
[data-type=block-render] .fn__flex-column{
    /* background-color: #efefef; */
}

/* ########### 主编辑区 ################################## */

/* 编辑器工具栏 */
.vditor-toolbar{
    background-color: var(--b3-theme-background);
}

.vditor-reset {
    font-variant-ligatures: no-common-ligatures;
    font-family: var(--b3-font-family);
    word-wrap: break-word;
    overflow: auto;
    line-height: 1.6;
    font-size: 16px;
    word-break: break-word;
}
/* 块命名、别名 */
.vditor-ir--tip *[tip] {
    padding: 4px;    
}
.vditor-ir--tip *[tip]:not([fold="1"]):before{
    margin: -12px 8px 0 0;
}
.vditor-ir--tip *[tip]:not([fold="1"]){
    
}

/* 设置编辑器光标颜色 */
.vditor-ir{
     caret-color:var(--b3-theme-primary);
}
/* 光标选中文本 */
.vditor-ir ::selection{ 
    background-color:var(--b3-theme-primary);
    color: var(--b3-theme-on-primary);
}

/* 换行符 <br> */
.vditor-ir__br{
    color: #CCCCCC;
}

/* code  行内代码 */
code{
    color: var(--b3-theme-primary);
    font-weight: bold;
}

/* 代码编辑区显示时不显示预览 bug：echarts图表无法实时更新，谨慎使用 */
.vditor-ir__node--expand:not([data-type="inline-math"]) .vditor-ir__preview {
    #display: none;
}

/* 数学公式 */
.vditor-reset .language-math{
    font-size: 95%;
}

/* tag 标签 */
.vditor-ir__tag{
    color: #8D8C8C;
    text-decoration: none;
    border-bottom: 1px solid #cdcdcd;
}

/* 外部链接 */
.vditor-ir__link{
    color: #1E789B;
    color: var(--b3-theme-primary);
    text-decoration:none;
    padding: 0 2px;
}
.vditor-ir__link:hover{
    cursor: pointer;
}

/* 块引用 */
.vditor-ir__blockref{
    border-bottom: .5px dashed var(--b3-theme-primary);
    padding-bottom: 2px;
    color: var(--b3-theme-primary);
    margin: 0 2px;

}
/* 块引用悬浮样式 */
 .vditor-ir__blockref:hover{
    background-color: var(--b3-theme-primary-lightest);
}


/* blockquote 引言 */
.vditor-reset blockquote {
    padding: 0.5em;
    color: #727172;
    border-left: 0.25em solid var(--b3-theme-primary);
    margin: 0 0 16px 0;
    background-color: rgba(66,186,130,0.1);
}

/* 引用数icon */
.vditor-ir__menu span{
    background-color: var(--b3-theme-primary);
    #color: red;
    border-radius: 2px;
    padding:0 2px;
}

/* 任务列表样式 enlightened by @zqhjl */
.vditor-task input[type="checkbox"]:before {
  content: "";
  display: inline-block;
  cursor: pointer;
  width: 1.1rem;
  height: 1.1rem;
  vertical-align: middle;
  text-align: center;
  border: 0px;
  border-radius: 3px;
  background-color: var(--b3-vditor-code-background);
  margin-top: -0.3rem;
  margin-left: -0.2rem;
  
}

/* 任务列表未选中，鼠标悬停 */
.vditor-task input[type="checkbox"]:not([disabled]):not(:checked):hover:before {
  content: "\2713";
  font-size: 0.9rem;
  line-height: 1rem;
  color: hsl(192, 6%, 40%);
  color: var(--b3-theme-primary);
  font-weight: bold;
}

/* 任务列表选中 */
.vditor-task input[type="checkbox"]:checked:before {
  content: "\2713";
  font-size: 0.9rem;
  line-height: 1rem;
  color: var(--b3-theme-primary);
  font-weight: bold;
}

/* 任务列表选中，鼠标悬停 */
.vditor-task input[type="checkbox"]:checked:hover:before {
  content: "\2713";
  font-size: 0.9rem;
  line-height: 1rem;
  color: #666;
  font-weight: bold;
}

/* 任务列表选中后的文本样式 */
.vditor-task--done p {
  color: #999;
  text-decoration: line-through;
}

/* 任务列表与文字的距离 */
.vditor-task input[type="checkbox"] {
  margin-right: 0.5em;
}
/* 删除线样式 */
.vditor-reset s{
  color: #999;
}
/* 修改搜索结果页文件icon颜色使其更显目 #todo */
.b3-dialog__container .b3-list-item__graphic use #iconFile{
 
} 


/* 表格 */
.vditor-reset table tr{
    background-color: var(--b3-theme-surface);
}



.language-graphviz .graph > polygon {
    fill: transparent;
}

/*滚动条整体样式*/
::-webkit-scrollbar {
    width : 8px;  /* 滚动条宽度 */
    overflow-y: hidden;
}

/* 滚动条颜色 */
::-webkit-scrollbar-thumb{
    background-color:#f2f2f2;
    border-radius: 15px;    
}
::-webkit-scrollbar-thumb:hover{
    background-color: #ccc;
}